@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("ttf");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format("ttf") ;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf') format("ttf") ;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf') format("ttf") ;
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../fonts/Raleway-ExtraBold.ttf') format("ttf") ;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.ttf') format("ttf") ;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf') format("ttf") ;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf') format("ttf") ;
}

.navbar-brand {
    font-family: "Raleway-Regular", sans-serif;
    display: inline-block;
    font-size: 34px;
    color: white;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-light .navbar-brand:hover {
    text-decoration: none;
    color: #c7b299;
}

.navbar-light .navbar-brand {
    color: white;
}

.main_block {
    background: url("../img/header/main_img.png") no-repeat center;
    background-size: cover;
}

.navbar {
    padding-top: 40px;
}

.header-item {
    margin-right: 30px;
    color: #ffffff;
    font-family: "Montserrat-Light", sans-serif;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
    color: #c7b299;
}

.navbar-nav {
    margin-right: 30px;
}

.icon-cart {
    margin-right: 30px;
}

.block-slider {
    padding-top: 140px;
    color: white;
}

.btn-secondary {
    border-color: #998675;
    background-color: #998675;
    font-family: "Raleway-ExtraBold", sans-serif;
}

.btn {
    margin-top: 40px;
    padding: 15px 30px;
    margin-bottom: 130px;
}

h1 {
    font-family: "Raleway-ExtraBold", sans-serif;
    font-size: 52px;
}

.pre-heading {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 36px;
}

.block-slider p {
    font-family: "Montserrat-Light", sans-serif;
}

.slick-slide {
    outline: none
}